<%- include('partials/header') %>

  <div class="container">
    <div class="jumbotron centered">
      <div class="row row-cols-3 g-3">
        <% events.forEach(function(event) { %>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src=<%=event.ImageURL %> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <%= event.Title %>
                </h5>
                <p class="card-text">
                  <%= event.Description %>
                </p>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>